.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: all 1.5s ease 0s;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1.5s ease 0s;
}

.ex-2-square:hover {
  width: 500px;
  height: 200px;
}

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1.5s ease 0s;
}

.ex-3-square:hover {
  border-radius: 50%;
}
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 1.5s ease 0s;
}

.ex-4-square:hover {
  background-color: rgb(245 245 245);
}

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: all 1.5s ease 0s;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
}

.ex-5-square:active {
  width: 1px;
  height: 1px;
}

.ex-6-img {
  width: 500px;
  transition: all;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

.ex-7-img {
  width: 500px;
  transition: all 1.5s ease 0s;
}

.ex-7-img:hover {
  filter: grayscale(100%);
}

.ex-8-img {
  width: 500px;
  transition: all 1.5s ease 0s;
}

.ex-8-img:hover {
  border-radius: 10px;
  filter: grayscale(100%);
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: all 1.5s ease 0s;
}

.ex-9-img:hover {
  border-radius: 10px;
  width: 200px;
}

.ex-10-icon {
  font-size: 60px;
  animation-name: ruota;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ruota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ex-11-icon {
  font-size: 60px;
  animation-name: ruota1;
  transition-duration: 1000ms;
  transition-property: transform;
  animation-iteration-count: 3;
  transition: all 1.5s ease 0s;
}

.ex-11-icon:hover {
  transform: rotate(360deg);
}

.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-button {
  animation-name: animate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.ex-12-top-white,
.ex-12-bottom-white {
  animation-name: spazio;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spazio {
  0% {
    left: 10px;
    top: 10px;
  }
  25% {
    left: 50px;
    top: 0px;
  }
  50% {
    left: 50px;
    top: 40px;
  }
  75% {
    left: 100px;
    top: 50px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.ex-13-button {
  animation-name: last;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes last {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
